{
  "env": {
    "server": {
      "presets": [
        ["env", { "node": 4 }],
        "stage-2"
      ]
    },
    "client": {
      "presets": [
        ["env", { "browsers": ["last 2 versions"] }],
        "react",
        "stage-2"
      ]
    }
  }
}
